.Rproj.user
.Rhistory
.RData
.Ruserdata
*.jpeg
*.pptx
index_files/
*.docx
*.pdf
# Permitir solo estos archivos específicos
!data/lenghtBS.csv
!data/lenghtEI.csv
!data/lenghtJOIN.csv
!data/lenghtSSIW.csv
!data/lenghtGerlache.csv
